body {
  width: 500px;
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
}

.tasklist {
  width: 500px;
  height: 500px;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid black;
  border-radius: 10px;
  list-style-type: none;
}

.taskist li {
  margin: 5px 0 5px 0;
  padding: 0 0 0 20px;
  font-size: 30px;
}

form > input {
  width: 500px;
  margin: 10px;
  font-size: 20px;
}
